apex==0.1
cvxpy==1.2.1
datasets==1.4.0
dill==0.3.5.1
GPUtil==1.4.0
ipdb==0.13.9
ipython==8.5.0
matplotlib==3.5.2
more_itertools==8.14.0
networkx==2.8.5
nltk==3.7
numpy==1.23.3
pandas==1.4.2
scikit_learn==1.1.2
scipy==1.8.1
setuptools==59.5.0
snorkel==0.9.9
tensorboardX==2.5.1
tensorflow==2.9.1
tools==0.1.9
torch==1.12.1
torchtext==0.13.1
tqdm
